.button-balada-green{
    @apply w-full xl:w-60 bg-balada_green_900 px-4 py-2.5 font-semibold uppercase rounded-md hover:bg-balada_violet_500 text-white;
}

.button-balada-violet{
    @apply w-full xl:w-60 bg-balada_violet_500 px-4 py-2.5 font-semibold uppercase rounded-md hover:bg-balada_green_900;
}

/* Start Multifilter Events */

.slider_wrapper .inner_crousel{
  -webkit-animation: scroll 30s linear normal;
  animation: scroll 30s linear normal;
  animation-duration: 500ms;
  animation-delay: 1.5s;
  display: flex;
  width: calc(344px * 8);
}

.slider_wrapper .inner_crousel:active{
  -webkit-animation-play-state:paused; 
}

@-webkit-keyframes scroll {
  0%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(calc(-172px * 4));
  }
}

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  10%{
    transform: translateX(calc(-344px * 1));
  }
}

.headings{
  @apply flex text-3xl mb-8 justify-center
}

.headings h1{
  @apply text-balada_violet_500
}

.container_slider_mobile{
  @apply h-[720px]  bg-balada_gray_800  flex flex-col  w-full relative
}

.slider_wrapper{
  @apply w-full overflow-hidden scroll-auto z-50
}

.card{
  @apply flex flex-col justify-center gap-5 bg-balada_gray_600 m-2 px-4 rounded-xl h-[446px]  bg-opacity-60 w-[344px] relative border border-gray-200
}

.card_date{
  @apply flex flex-col text-xl float-right
}

.card_date .event_date{
  @apply text-5xl font-semibold pl-6
}

.date_complement{
  @apply flex items-center text-sm pl-5 h-6 w-24 gap-1
}

.container_card_header{
  @apply flex flex-row justify-between gap-2
}

.card_header{
  @apply flex flex-col gap-4
}

.card_header .title{
  @apply text-xl dark:text-blue-700 font-semibold uppercase
}

.card_header .sub_title{
  @apply text-base absolute h-6 flex flex-row items-center gap-1
}

.card_header_icon_location{
  @apply mt-0.5
}

.card_img{
  @apply  w-full h-[214px] rounded-[30px]
}

.card_footer{
  @apply flex flex-col
}

.multifilter-events-description{
  @apply flex justify-center mt-8 -mb-4 text-xl items-center w-full text-center px-12
}

/* End Multifilter Events */


/* Start Slider home */

.slider-box{
    @apply bg-balada_gray_800 w-full h-[880px] z-10;
}

.container-slide{
    @apply relative  md:float-right  md:-left-44 md:w-[620px] md:h-[600px] md:p-12 p-5;
}

.slide{
    @apply w-full mt-[25%] absolute md:float-right;
}

.item{
    @apply w-[90%] h-[244px] md:w-[480px] md:h-[320px]  md:inline-block transition-[1s] bg-[200%] absolute z-[1] rounded-[30px] mt-8 md:mt-[25%] border-[14px] border-gray-800 bg-gray-800;
}

.item:nth-child(0) {
    @apply md:translate-x-[-150%] bg-[0%_50%] opacity-0;
  }
  .item:nth-child(1) {
    @apply md:translate-x-[-40%] bg-[20%_50%];
  }
  .item:nth-child(2) {
    @apply md:translate-x-[70%] bg-[50%_50%];
  }
  .item:nth-child(3) {
    @apply md:translate-x-[180%] bg-[80%_50%];
  }
  .item:nth-child(n + 4) {
    @apply md:translate-x-[290%] bg-[100%_50%] opacity-0;
  }
  .item .content {
    @apply absolute w-4/5 text-center shadow-[0_30px_50px_#b9b9b9] transition-[0.5s] overflow-hidden max-h-0 px-[10%] py-0 top-full;
    font-family: system-ui;
  }
  .item .content .name {
    font-family: "Anton", sans-serif;
  }
  .item:hover .content {
    @apply max-h-[100px];
  }
  .item:hover {
    @apply bg-[250%];
  }
  #description {
    @apply relative ml-[15%] mt-5;
  }
  .itemdescription {
    @apply block transition-[1s] absolute z-[1];
  }
  .itemdescription:nth-child(1) {
    @apply translate-x-[-150%] opacity-0;
  }
  .itemdescription:nth-child(2) {
    @apply translate-x-[-40%];
  }
  .itemdescription:nth-child(3) {
    @apply translate-x-[70%];
  }
  .itemdescription:nth-child(4) {
    @apply translate-x-[180%];
  }
  .itemdescription:nth-child(n + 5) {
    @apply translate-x-[290%] opacity-0;
  }

  .des{
    @apply mb-4 mt-3 text-lg;
  }

  .desc .desc-item {
    @apply absolute w-full md:text-left text-[cornflowerblue] translate-x-0 -translate-y-2/4 hidden p-6 md:left-[300px]  md:top-[50%] top-[65%];
    font-family: system-ui;
  }
  .desc:nth-child(1) .desc-item {
    @apply block z-[11111];
  }
  .slide-title {
    @apply text-[42px] text-white font-semibold;
    font-family: "Montserrat", sans-serif;
  }
  .btn-slide {
    @apply px-[15px] py-2.5 rounded-[20px] border-[none] bg-balada_green_900 hover:bg-balada_violet_500 text-white mt-2;
  }
  .buttons {
    @apply absolute text-center w-full left-0 bottom-[30px] flex flex-row justify-center items-center;
  }
  .buttons button {
    @apply bg-balada_violet_500 w-[50px] h-[50px] text-white border transition-[0.5s] rounded-[50%] border-solid border-balada_violet_500 hover:bg-balada_green_900 hover:border hover:border-solid hover:border-[#bac383];
    @apply flex justify-center items-center;
  }
  .content {
    @apply relative text-left text-[red] translate-x-0 -translate-y-2/4 p-0 top-[10%];
    font-family: system-ui;
  }
  .item:nth-child(2) .content {
    @apply block z-[11111];
  }

/* End Slider home */

/* Start Main MultiFilterEvents */
  h1,
p {
  margin: 0;
  padding: 0;
}
.container {
  @apply flex flex-col w-full
}

.buttons-container {
  @apply flex justify-center items-center w-full mt-6
}
.button {
  border: 1px solid #000;
  background: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.items-container {
  @apply grid grid-cols-1 lg:grid-cols-4 lg:p-6  w-full items-center justify-center 
 
}

.item-event {
  @apply flex justify-center w-full items-center
}

.category {
  color: #64748b;
  font-size: 10px;
}

.active {
  background-color: #1e293b;
  color: #fff;
}

/* End Main MultiFilterEvents */



/* Start Slide Story */

.slide-story{
  @apply h-[480px] grid rounded-xl 
}

.story-item{
  @apply w-full h-full flex p-5 text-white bg-none;
}

.slide-story-items > *{
 @apply opacity-0 absolute pointer-events-none
}

.slide-story-items{
  @apply relative rounded-xl overflow-hidden;
  grid-area: 1/1;
}

.slide-story-items > .active{
  @apply opacity-100 pointer-events-auto relative
 }

 .slide-story-nav{
  @apply  w-full h-[480px]  text-2xl absolute z-10 rounded-xl;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  box-shadow: 0px -200px 80px 8px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 0px -200px 80px 8px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 0px -200px 80px 8px rgba(0,0,0,0.75) inset;
 }

 .slide-story-nav button{
  @apply opacity-100 h-[472px] bg-none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
 
 }


 .slide-story-thumb{
  @apply flex h-2 w-full z-20;
  grid-column: 1/3;

 }

 .slide-story-thumb > span{
  @apply flex-1 w-8  h-1 m-1 rounded-md opacity-100 overflow-hidden;
  background: rgba(0,0,0,0.4);
 }

 .slide-story-thumb > span.active::after{
  @apply  block h-full rounded-md bg-balada_green_800 opacity-100;
  content: '';
  transform: translateX(-100%);
  animation: thumb 5s forwards linear;
 }

 @keyframes thumb{
   to{
    transform: initial;
   }
 }

 .title-story{
  @apply absolute bottom-[30%] text-2xl uppercase font-semibold shadow-black drop-shadow-md z-50;
  text-shadow: #000000 1px 0 10px;
 }

 .location-story{
  @apply flex items-center absolute bottom-[23%] text-lg z-50;
  text-shadow: #000000 1px 0 10px;
 }

 .date-story{
  @apply text-white absolute right-6 flex flex-col z-40;
  text-shadow: #000000 1px 0 10px;
 }

 .date-story-day{
  @apply text-6xl font-bold
 }

 .date-story-month-year{
  @apply text-lg flex items-center font-semibold -mt-2
 }

 .button-story{
  @apply flex justify-center items-center absolute bg-balada_green_900 px-3 py-2 uppercase rounded-full bottom-[13%] z-50 text-sm w-[40%] h-9
 }

 .button-story-arrow{
  @apply ml-1
 }

 .slide-story-prev{
  @apply bg-none rounded-l-xl
 }

 .slide-story-next{
  @apply bg-none rounded-r-xl
 }


/* End Slide Story */

.step-item{
  @apply relative flex flex-col justify-center items-center w-full bg-balada_gray_800;
}

.step-item:not(:first-child):before{
  @apply content-[''] bg-white absolute w-full h-[3px] right-2/4 top-[38%] -translate-y-2;
}

.step{
  @apply w-10 h-10 flex justify-center items-center z-10 relative rounded-full font-semibold text-white bg-gray-700;
}

.active .step{
  @apply bg-gray-700;
}

.complete .step{
  @apply bg-balada_green_900
}

.complete:not(:first-child):before{
  @apply bg-balada_green_800;
}
